@font-face {
  font-family: 'Raleway-Italic';
  src: url('./Raleway-Italic.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Raleway-Italic';
  background: url('./image.jpg');
}